*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ----- Global styles ----- */

:root {
	--Dark-Navy: #1F314F;
	--light-Grey: #D5E1EF;
	--Grey: #7D889E;
	--white: #fff;
}

body {
	background-color: var(--light-Grey);
}

main {
	min-height: 100svh;
	padding: 1.5rem;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

/* ----- Specific styles ----- */

.card {
	padding: 1rem 1rem 2.5rem 1rem;
	background-color: var(--white);
	border-radius: 1.25rem; 
	box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.card__container {
	max-width: 18rem;
}

.card__image {
	box-sizing: border-box;
	width: 100%;
	background: 
	radial-gradient(circle 328px  at 60px top, #3685FF 43% , transparent 43%),
	radial-gradient(circle 270px at 280px 330px, #3685FF 50% , transparent 50%),
	#2C7DFA;
	border-radius: 10px;
	padding: 4rem;
}

@media (max-width: 22.5rem) {
	.card__image {
		padding: 2rem;
	}
}

@media (max-width: 30rem) {
	.card__image {
		background: 
		radial-gradient(circle 328px  at 60px top, #2C7DFA 43% , transparent 43%),
		radial-gradient(circle 270px at 280px 330px, #2C7DFA 50% , transparent 50%),
		#3685FF;
	}

}

.card__title, .card__txt {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 0.9375rem;
	font-size: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);
	text-align: center;
	margin-top: 1rem; 
}

.card__title {
	color:var(--Dark-Navy);
	font-weight: 700;
	font-size: 1.375rem;
	font-size: clamp(1.375rem, 1.375rem + 0vw, 1.375rem);
	margin-top: 1.5rem;
}

.card__txt {
	color:var(--Grey);
	margin-inline: 1rem;
}